---
layout: default
title: Newspaper - The Tech & Startup News Add-on for Slack
description: Newspaper is a new kind of news reader. Now your team can stay on the cutting edge by subscibing to topics that are relevant to your business in startup and tech, all from within Slack.
---

<section class="heading">
  <div class="headerwrap">
    {% include navigation.html %}
    {% include splash.html %}
  </div>
</div>
{% include bestof.html %}
{% include features.html %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/assets/js/detectmobilebrowser.js"></script>
<script src="/assets/js/smoothscroll.js"></script>
<script src="/assets/js/waypoints.js"></script>
<script src="/assets/js/main.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="/assets/js/sunburst.js"></script>

<!-- Google Code for Install the add-on Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
    goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 930309138;
    w.google_conversion_label = "lwLgCJ_OmmMQksjNuwM";
    w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      window.google_is_call = true;
      var opt = new Object();
      opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>


