<section id="copyright">
  <div class="copywrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <p>
            Copyright &copy;2015 Newspaper. All Rights Reserved. - 
            <a href="/">Home</a> |&nbsp;
            <a href="/slack/getting_started/">Getting Started</a> |&nbsp;
            <a href="/slack/faq/">FAQ</a> |&nbsp;
            <a href="/docs/privacy_policy/">Privacy Policy</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

