<!-- Features Wrap -->
<section id="features">
  <div class="featureswrap">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Our Technology</h2>
        <hr>
        <br>
        <div class="col-lg-6" id="sunburst">
        </div>
        <div class="col-lg-6">
          <h4>
            <span class="icon icon-1x icon-align-center"></span> Content parsed
          </h4>
          <p>
            Currently we parse over 50k new items daily, sort and rank them. As we expand to more topics this number will increase.
          <p>
          <h4>
            <span class="icon icon-1x icon-cogs"></span> Contextual Understanding
          </h4>
          <p>Our scoring algorithms understand the contextual relevance of an article based on influencers for the topic, the relevance to you and the popularity of the article.</p>
          <h4>
            <span class="icon icon-1x icon-floppy-o"></span> Machine Learning
          </h4>
          <p>The more information points Newspaper gathers, the better it gets at scoring and the better the content becomes.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

