<!-- Features Wrap -->
<section id="features">
  <div class="featureswrap">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Features</h2>
        <hr>
        <br>
        <br>
        <div class="col-lg-6">
          <img class="img-responsive left" src="assets/img/mobile.png" alt="">
        </div>

        <div class="col-lg-6">
          <br>
          <!-- Accordion -->
          <div class="accordion ac" id="accordion2">
            <div class="accordion-group active">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <span class="icon-cloud"></span> Collaborate in the cloud
                </a>
              </div><!-- /accordion-heading -->
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div><!-- /accordion-inner -->
              </div><!-- /collapse -->
            </div><!-- /accordion-group -->
            <br>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <span class="icon-checkmark"></span> Get started fast
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div><!-- /accordion-inner -->
              </div><!-- /collapse -->
            </div><!-- /accordion-group -->
            <br>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  <span class="icon-bars"></span> Deliver real time insights
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div><!-- /accordion-inner -->
              </div><!-- /collapse -->
            </div><!-- /accordion-group -->
            <br>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  <span class="icon-list"></span> Automate business processes
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div><!-- /accordion-inner -->
              </div><!-- /collapse -->
            </div><!-- /accordion-group -->
            <br>
          </div><!-- /accordion -->
        </div>
      </div><!-- /row -->
      <br><br><br>
      <div class="row">
        <h2 class="text-center">Multi Useful Components</h2>
        <hr><br><br>
        <div class="col-lg-6">
          <br><br>
          <h4><span class="icon-cogs"></span> Create customized business apps</h4>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <br><br>
        </div>

        <div class="col-lg-6">
          <img class="img-responsive right" src="assets/img/tablet.png" alt="">
        </div>
      </div>
      <br>
      <br>
      <br>
    </div><!-- /container -->
  </div><!-- /featureswrap -->
</section>

