<!-- Features Wrap -->
<section id="features">
  <div class="featureswrap">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><span class="icon icon-1x icon-users"></span>&nbsp; Great for teams</h2>
        <hr>
        <br/>
        <div class="col-lg-6">
          <h4>
            <span class="icon icon-slack icon-align-center"></span>&nbsp; Make room!
          </h4>
          <p>Create a #learning channel on your company Slack</p>
          <h4>
            <span class="icon icon-th-list icon-1x"></span>&nbsp; Choose the topics that match your company stack
          </h4>
          <p>
            Choose from an ever-growing list of topics:
            <ul>
              <li><strong>General:</strong> <code>startup</code>, <code>product</code>, <code>growthhacking</code>, <code>culture</code>, <code>designthinking</code>, <code>ui</code>, <code>ux</code></li>
              <li><strong>Languages:</strong> <code>clojure</code>, <code>golang</code>, <code>python</code>, <code>scala</code>, <code>swift</code>, <code>javascript</code></li>
              <li><strong>Frameworks & Envs:</strong> <code>rubyonrails</code>, <code>nodejs</code>, <code>reactjs</code></li>
              <li><strong>Other:</strong> <code>docker</code>, <code>microservices</code></li>
            </ul>
          </p>
          <h4>
            <span class="icon icon-1x icon-cogs"></span>&nbsp; Stay on the cutting edge
          </h4>
          <p>
            When Newspapers AI finds a relevant article, it gets posted straight to your channel
          </p>
        </div>
        <div class="col-lg-6">
          <img class="img-responsive right"  src="/assets/img/newspaper_team.png">          

        </div>
      </div>
      <br/>

      <div class="row">
        <h2 class="text-center"><span class="icon icon-1x icon-user"></span>&nbsp; Great used Solo</h2>
        <hr>
        <br/>
        <div class="col-lg-6">
          <img class="img-responsive left"  src="/assets/img/newspaper_go_solo.png">
        </div>
        <div class="col-lg-6">
          <h4>
            <span class="icon icon-th-list icon-1x"></span>&nbsp; Choose topics that interest you
          </h4>
          <p>
            Choose from a growing list of topics:
            <ul>
             <li><strong>General:</strong> <code>startup</code>, <code>product</code>, <code>growthhacking</code>, <code>culture</code>, <code>designthinking</code>, <code>ui</code>, <code>ux</code></li>
              <li><strong>Languages:</strong> <code>clojure</code>, <code>golang</code>, <code>python</code>, <code>scala</code>, <code>swift</code>, <code>javascript</code></li>
              <li><strong>Frameworks & Envs:</strong> <code>rubyonrails</code>, <code>nodejs</code>, <code>reactjs</code></li>
              <li><strong>Other:</strong> <code>docker</code>, <code>microservices</code></li>
            </ul>
          </p>
          <h4>
            <span class="icon icon-1x icon-slack"></span>&nbsp; Subscribe     
          </h4>
          <p>Add your topics straight to &#9829;Slackbot, or create your own private channel.</p>
          <h4>
            <span class="icon icon-1x icon-cogs"></span>&nbsp; Watch the best content come into the channel
          </h4>
          <p>
            As soon as quality content surfaces through our AI, we post it to you
          </p>
        </div>
      </div>
      <br/>

    </div>
  </div>

  
  <div class="techwrap">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Our Technology</h2>
        <hr>
        <br>
        <div class="col-lg-6">
          <div class="svg-container" id="sunburst">
          </div>
        </div>
        <div class="col-lg-6">
          <h4>
            <span class="icon icon-1x icon-align-center"></span>&nbsp; Content parsed
          </h4>
          <p>Currently we parse over 50k new items daily, sort and rank them. As we expand to more topics this number will increase.</p>
          <h4>
            <span class="icon icon-1x icon-cogs"></span>&nbsp; Contextual Understanding
          </h4>
          <p>Our scoring algorithms understand the contextual relevance of an article based on influencers for the topic, the relevance to you and the popularity of the article.</p>
          <h4>
            <span class="icon icon-1x icon-floppy-o"></span>&nbsp; Machine Learning
          </h4>
          <p>The more information points Newspaper gathers, the better it gets at scoring and the better the content becomes.</p>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section>

