<section id="newsletter">
  <div class="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Contact Us</h3>
          <br>
          <p>We'd love to hear from you. Please feel free to email us!
            <br/>
            <a href="mailto:hello@newspaper.io"><i class="icon icon-envelope-o icon-2x"></i> hello@newspaper.io</a>
          </p>
        </div>

        <div class="col-lg-4">
          <h3>Look us up</h3>
          <br>
          <div id="social">
            <a href="https://www.facebook.com/newspaperio" rel="tooltip" title="Facebook" class="facebook"><i class="icon icon-facebook icon-3x"></i></a> &nbsp;
            <a href="https://twitter.com/newspaperio" rel="tooltip" title="Twitter" class="twitter"><i class="icon icon-twitter icon-3x"></i></a> &nbsp;
            <a href="https://www.github.com/newspaperhq" rel="tooltip" title="Github" class="github"><i class="icon icon-github icon-3x"></i></a> &nbsp;
            <a href="https://angel.co/newspaperio" rel="tooltip" title="Angellist" class="angellist"><i class="icon icon-angellist icon-3x"></i></a> &nbsp;
          </div>
        </div>

        <div class="col-lg-4">
          <h3>Newsletter</h3>
          <br>
          <p>Subscribe to our newsletter and be the first to know our latest updates.</p>
          <form class="form-inline" action="https://getsimpleform.com/messages?form_api_token=76f6aca6942819102865095beabc889d" method="post">
            <input type="text" name="email" class="form-control" placeholder="Your email">
            <input class="btn btn-theme" type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



