<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">
        <img src="/assets/img/logo.svg" style="width: 40px; height: 40px;" alt="Newspaper">
      </a>

    </div>
    <div class="navbar-collapse collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#home" class="smoothScroll">Home</a></li>
        <li><a href="/#slack"class="smoothScroll">Slack Add On</a></li>
        <li><a href="/#newsletter" class="smoothScroll">Newsletter</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <div class="navbar-form pull-left">
          <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=10306283718.15770956371"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
        </div>
      </ul>
    </div>
  </div>
</nav>


