<h3>
  <span class="icon icon-2x icon-slack"></span> 
  Slack Commands
</h3>

<p>
  Newspaper posts to whatever channel you issue the commands from.
  <br/>
  <br/>

  
  To list all available topics type:
  <pre>/newspaper topics</pre>

  To add a topic to a channel type:
  <pre>/newspaper add [topic_name]</pre>

  To list subscribed topics for the channel:
  <pre>/newspaper ls</pre>

  To unsubscribe the channel from a topic type:
  <pre>/newspaper rm [topic_name]</pre>

  To get help type:
  <pre>/newspaper help</pre>
</p>
