<section id="home">
  <div class="headerwrap">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h1>Welcome to the new <b>Newspaper</b></h1>
          <h3>Stay on the cutting edge</h3>
          <br/>
        </div>
        <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
          <h5>Now as a Slack Addon</h5>
          <p>We have been reborn as a Slack add-on</p>
          <img src="/assets/img/arrow-left.png" alt="">
        </div>
        <div class="col-lg-8">
          <img class="img-responsive" src="/assets/img/app-bg.png" alt="">
        </div>
        <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
          <br/>
          <img class="pad-top" src="/assets/img/arrow-right.png" alt="">
          <h5>#Topics for early adopters</h5>
          <p>We've started with #reactjs, #clojure, #golang, #scala, #swiftlang and #docker</p>
        </div>
      </div>
    </div> 
  </div>
</section>
