<section id="home">
  <div class="headerwrap">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h1>Welcome to the new <b>Newspaper</b></h1>
          <h3>Level up your knowledge</h3>
          <br/>
        </div>
        <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
          <h5>Now as a Slack Addon</h5>
          <p>We have evolved from our early days and are now a Slack addon</p>
          <img src="/assets/img/arrow-left.png" alt="">
        </div>
        <div class="col-lg-8">
          <img class="img-responsive" src="/assets/img/app-bg.png" alt="">
        </div>
        <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
          <br/>
          <img class="pad-top" src="/assets/img/arrow-right.png" alt="">
          <h5>#Learning for everyone</h5>
          <p>Choose your topics and add to the learning channel for everyone</p>
        </div>
      </div>
    </div> 
  </div>
</section>
