/* ---------------------------------------------------------------------
 * Base Styles
 --------------------------------------------------------------------- */

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  padding-top: 50px;
}

hr {
  display: block;
  width: 500px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

/* Links */

a {
  color: #06979e;
  word-wrap: break-word;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:hover, &:focus {
    color: #05888e;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    outline: 0;
  }
}

@media (max-width: 480px) {
  body {
    text-align: center;
  }
  hr {
    width: 150px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  body {
    text-align: center;
  }
}

/* UI Elements */

.pad-top {
  padding-top: 80px;
}

/* Button Modifications */

.btn {
  border-radius: 3px;
}

.btn-theme {
  background-color: #06979e;
  color: #fff;
  border-color: #06979e;
  &:hover {
    border-color: #06979e;
    /* change to darker hue than bg hover color */
    background-color: transparent;
    color: #06979e;
    box-shadow: none;
  }
  &:focus {
    outline: 0;
  }
}


.svg-container { 
	display: inline-block;
	position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  height: auto;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.btn-theme2 {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  &:hover {
    border-color: #fff;
    background-color: #fff;
    color: #06979e;
    box-shadow: none;
  }
  &:current {
    outline: 0;
  }
}

/* ---------------------------------------------------------------------
 * Navigation
 --------------------------------------------------------------------- */

.navbar-default {
  // height: 56px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #222;
  // text-transform: uppercase;
  // letter-spacing: 1px;
  // padding-top: 20px;
  // padding-bottom: 0px;
  // background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

  // */
.navbar-toggle {
  border: 0;
  &:hover, &:focus {
    // background-color: white;
  }
  > .icon-bar {
    background-color: #06979e;
  }
}
.navbar-brand {
  color: #06979e;
  padding: 7px 15px;
  &:hover {
    color: #bdc3c7;
  }
}
.navbar-nav > {
  li > a {
    color: #06979e;
    &:hover, &:focus {
      color: #bdc3c7;
      background-color: transparent;
    }
  }
  .current > a {
    background-color: transparent;
    color: #bdc3c7;
    &:hover, &:focus {
      background-color: transparent;
      color: #bdc3c7;
    }
  }
}
.navbar-right a[type="button"] {
  padding: 6px 20px 6px 20px;
  // color: #fff;
  &:hover, &:focus {
    background-color: transparent;
    // color: #06979e;
  }
}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .navbar-default {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 768px) {
  .navbar-default .navbar-right a[type="button"] {
    float: none !important;
    border: 0;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    background-color: #222;
  }
  .navbar-form {
    border: none;
    box-shadow: none;

  }
  .navbar-collapse {
    background-color: #222;
    border-top: none;
    box-shadow: none;
    &.collapse {
      display: none !important;
      &.in {
        display: block !important;
      }
    }
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    > li {
      float: none;
      > a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

/* ---------------------------------------------------------------------
 * Wrap Sections
 --------------------------------------------------------------------- */

/* Header Wrap */

.headerwrap {
  background: url("/assets/img/header-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 80px;
  .col-lg-2 {
    padding-top: 40px;
  }
  h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;
  }
  h3 {
    color: white;
    font-size: 30px;
  }
  h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
  }
  h5 {
    color: white;
    font-weight: 700;
    text-align: left;
  }
  p {
    text-align: left;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .headerwrap {
    h1 {
      font-size: 50px;
    }
    .col-lg-2 {
      h5, p {
        text-align: center;
      }
    }
  }
}

/* Intro Wrap */

.intro {
  // padding-top: 20px;
  // padding-bottom: 80px;
  span {
    font-size: 60px;
    color: #06979e;
    padding: 20px;
    vertical-align: middle;
  }
  .icon {
    color: #06979e;
  }
}


.slackwrap {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
  .col-lg-6 img {
    display: table;
    margin: 0 auto;
  }
  .ac a {
    font-size: 20px;
  }
  .col-lg-6 {
    h4, h3, licon {
      font-size: 20px;
      color: #06979e;
    }
  }
}

.featureswrap {
  background-color: #f5f5f5;
  padding-bottom: 20px;

}

@media (max-width: 480px) {
  .featureswrap .col-lg-4 {
    padding-top: 0;
  }
}

/* Divider 1 & 2 Wrap */

.divider01 {
  background: url("/assets/img/divider-1.jpg") no-repeat center center;
  // background-color: #06979e;

  background-size: cover;
  max-height: 262px;
  // padding: 40px;
  h3 {
    font-size: 34px;
    color: #fff;
  }
  h4 {
    padding-top: 15px;
    color: #fff;
  }
}

.divider02 {
  background-color: #06979e;
  height: 150px;
  padding-top: 55px;
  h3 {
    color: #fff;
    padding-right: 40px;
    display: inline;
    vertical-align: middle;
  }
  button {
    display: inline;
    vertical-align: middle;
  }
}

@media (max-width: 480px) {
  .divider01 {
    max-height: 375px;
    .carousel-inner {
      padding: 0;
    }
  }
  .divider02 {
    padding-bottom: 80px;
    min-height: 200px;
    h3, button {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
    a[type="button"] {
      margin-top: 15px;
    }
  }
}

/* Pricing Wrap */

.pricingwrap {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 120px;
  small {
    padding-left: 10px;
  }
}

/* Pricing Tables */

.panel {
  text-align: center;
}

.panel-custom {
  border-color: #06979e;
  > .panel-heading {
    background-color: #06979e;
    color: #fff;
  }
}

.panel-heading > .panel-title {
  font-weight: 900;
  text-transform: uppercase;
}

.panel-body {
  padding: 0px;
  text-align: center;
}

.the-price {
  background-color: rgba(220, 220, 220, 0.17);
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #dcdcdc;
  padding: 20px;
  margin: 0;
  h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1em;
    padding: 0;
    margin: 0;
  }
}

.subscript {
  font-size: 25px;
  font-weight: 400;
}

/* Footer Wrap */

.footerwrap {
  background-color: #333;
  color: #777;
  padding-top: 80px;
  padding-bottom: 100px;
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid #bdc3c7;
  }
  p {
    color: #fff;
    font-size: 14px;
  }
  #social {
    margin: 20px auto 0px auto;
    display: inline-block;
  }
  input:focus {
    outline: 0;
  }
}

@media (max-width: 480px) {
  .footerwrap button {
    margin-top: 15px;
  }
}

/* Copyright Wrap */

.copywrap {
  background: #222;
  padding-top: 20px;
  font-size: 14px;
  color: #bdc3c7;
  a {
    margin: 0 5px;
  }
}

/* Sign In & Sign Up Modal */

.modal-content {
  border-radius: 3px;
}

.modal .nav-tabs {
  padding-left: 5px;
  padding-right: 5px;
}

/* Scroll to top */

#back-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 3px;
  .glyphicon-chevron-up {
    font-size: 18px;
    padding: 10px 12px 12px 12px;
    display: block;
    color: #06979e;
  }
}

/* ---------------------------------------------------------------------
 * IE 10 in Windows 8 and Windows Phone 8 fix
 --------------------------------------------------------------------- */

@-webkit-viewport {
  width: device-width;
}


@-moz-viewport {
  width: device-width;
}


@-ms-viewport {
  width: device-width;
}


@-o-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}
