---
layout: default
tt: Newspaper - Getting Started 
description: Instructions on how to get started, installing on slack and adding topics
---

<section class="heading">
  <div class="headerwrap">
    {% include navigation.html %}
  </section>
</div>


<section id="success">
  <div class="slackwrap">
    <div class="container">
      <div class="row">
        <h2 class="text-center">
          Getting started
        </h2>
        <hr/>
        <br/>
        <div class="col-lg-6 col-lg-offset-3">
          <h3>
            <span class="icon icon-2x icon-hand-pointer-o"></span> 
            Get started
          </h3>
          <p>
            Newspaper ships as an add-on to 
            <a href="https://slack.com/" target="_blank">Slack. </a>
            To get started you will need to install the add-on. 
            Simply click on the button below to install and then follow the instructions.
          </p>
          <p>
            {% include slack_button.html %}
          </p>
          <p>
            Newspaper allows you to subscribe to topics that interest you and then posts 
            links to great content relevant to those topics in whatever channel
            you wish. Some people decide to post it to themselves, others
            post the content into a #learning channel for example so the whole group
            can view it.
          </p>
          {% include slack_commands.html %}
          {% include feedback_email.html %}
        </div>
      </div>
    </div>
  </div>
</section>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/detectmobilebrowser.js"></script>
<script src="/assets/js/smoothscroll.js"></script>
<script src="/assets/js/waypoints.js"></script>
<script src="/assets/js/main.js"></script>


